
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background: #dae473;
}
img{
    width: 220px;
    height: 180px;
    margin-top: 3%;
    margin-left: 42%;
}

h1{
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
}

#abc{
    padding-left: 20%;
}

.fn{
    margin-left: 10%;
}

.ln{
    margin-left: 10.2%;
}

.DOB{
   margin-left: 7.8%;
}

.email{
    margin-left: 12%;
}

.mob{
    margin-left: 6.5%;
}

.m{
    margin-left: 12.5%;
}

textarea{
    margin-left: 12%;
}

.city{
    margin-left: 15.5%;
}
.pin{
    margin-left: 12%;
}
.state{
    margin-left: 14.5%;
}
.country{
    margin-left: 12%;
}
#hobbies{
    margin-left: 19%;
}

.course{
    margin-left: 11%;
}

table{
    margin-left: 20%;
}

#btn{
    margin-left: 40%;
}

button{
    margin-left: 3%;
    margin-top: 3%;
}
